/* --------------------
   GLOBAL RESET + BASE
-----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #fdfdfd;
    color: #333;
    line-height: 1.8;
    padding-top: 90px; /* space for floating header */
}

html {
    scroll-behavior: smooth;
}

/* --------------------
       HEADER
-----------------------*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #ffffffee;
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    text-align:
